*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-image: url('photographer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}
.container h1,h2{
    color: #fff;
   font-weight: 400;
}
header{
    position: relative;
}
.box{
    width: 40%;
    padding: 20px;
    border: 1px solid #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.barre-navigation{
    position: absolute;
    bottom: -20px;
    left: 45%;
    border: 1px solid gray;
    color: white;
    background-color: gray;
}
p{
    display: inline-block;
    padding: 10px;
   
}
.portfolio{
    height: 700px;
    background-color: blue;
    width: 400px;
    
    margin-top: 100px;
}
.pictures{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
}
.form{
    background-color: gray;
    padding: 40px;
    width: 1000px;
    height: 500px;
    /* width: 78%; */
}
.form h1{
    text-align: center;
    padding-bottom: 20px;
}
#Email,#Name,#Message{
    width: 100%;
    padding: 10px;
}
.input{
    padding-top: 30px;
    line-height: 20px;
}
button{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: darkgray;
    color: #fff;
    border: none;
}
#p{
    padding: 10px;
}
span{
    text-decoration: underline;
}
@media screen and (min-width:200px) and (max-width:1047px) {
    header{
        width: 400px;
    }
    .portfolio{
        /* height: 700px; */
        background-color: blue;
        width: 400px;
        
        margin-top: 10px;
    }
    .pictures{
        padding: 0;
    }
   
    .pictures img{
       width:400px;
    }
    .form{
        background-color: gray;
        /* padding-left: 40px; */
        width: 400px;
        height: 700px;
        /* width: 78%; */
        padding: 0;
    }

    .container .box{
        width:250px ;
    }
    .barre-navigation{
        position: absolute;
        bottom: -5px;
        left: 15%;
        border: 1px solid gray;
        color: white;
        background-color: gray;
    }
   
    /* iphone se */
}